@font-face {
  font-family: 'Northwell';
  src: url('/fonts/Northwell.woff2') format('woff2'),
       url('/fonts/Northwell.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#slika-bgbox {
  box-shadow: 0 8px 32px rgba(80, 54, 31, 0.10), 0 1.5px 10.6px rgba(80,54,31,0.08);
}
body
{
  margin: 0;
}

.welcome{
  background-image: url("pictures/index.png");
  background-color: black;
  margin: 0;
  padding: 0;
  height: 641px;
  width: 100%;
}

#attract{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 8rem;
  margin: 0;
  padding-top: 100px;
  text-align: center;
}

#kratakopis
{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  text-align: center;
  margin-top: 0;
}

#slika
{
  width: 600px;
  height: 450px;
  object-fit: cover;
  margin-top: 60px;
  object-position:calc(20% - 20px);
}

#logo
{
  width: 52px;
  height: 52px;
  margin-left: 10px;
}

header
{
  height:  72px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header p
{
  color: #674222;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
  font-size: 1.8rem;
  margin-left: 8px;
}

#uvod
{
  display: flex;
  margin-bottom: 32px;
}

#deoslike
{
  width: 60%;
  display: flex;
  justify-content: right;
  position: relative;
  overflow: hidden;
}

#tekstualnideo
{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.uvodnitekst
{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: right;
  display: inline-block;
  margin-left: -170px;
  width: fit-content;
  width: 534px;
}

#deoslike
{
  display: flex;
  flex-direction: row;
  justify-content: right;
  overflow: hidden;
}

.tekst-preko-slike {

  top: 60px;
  right: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  color: white;
  text-align: right;
  pointer-events: none;
  z-index: 2;

}

#privlacnostmark
{
  background-color: #674222;
  color: white;
  border-radius: 3px;
}

#aboutus
{
  display: flex;
  flex-direction: column;
}

#nasloviprvitekst
{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 300px;
}

.prvitekstovi {
  width: 50%;
  flex: 0 0 50%;
  box-sizing: border-box;
}

#onama
{
  text-align: center;
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #674222;
}

#prvitekst
{
  font-size: 1.4rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #50361f;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  text-align: justify;
}

#drugitekstholder
{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 300px;
}

#drugitekst
{
  font-size: 1.4rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #50361f;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  width: 50%;
  box-sizing: border-box;
  text-align: justify;
}

#tecitekstholder {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 300px;
}

#tecitekst
{
  font-size: 1.4rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #50361f;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  width: 50%;
  box-sizing: border-box;
  text-align: justify;
}

.naslovizatekstove
{
  width: 50%;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 1.7rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #674222;
}

#tim {
  display: flex;
  flex-direction: column;
  background-color: #fff9f0;
  margin-top: 40px;
  box-shadow: 0 -16px 30px rgba(0, 0, 0, 0.08); /* shadow above */
  position: relative;
  z-index: 15;
}

#timnaslovholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

#timnaslov {
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #674222;
}

.clantekst {
  font-size: 2.5rem;
  font-family: 'Northwell', Georgia, 'Times New Roman', Times, serif;
  color: #50361f;
  text-align: center;
  margin: 24px 0px 0px 0px;
}

.clanopis {
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #50361f;
  text-align: center;
  margin: 0px 20px 20px 20px;
}

#clanovi
{
  display: flex;
  flex-direction: row;
}

.clan
{
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

footer {
  height: 108px;
  background-color: #674222;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

footer p
{
  color: #fff9f0;
}

footer::before {
  content: "";
  position: absolute;
  left: -10%;
  top: -16px;
  width: 120%;
  height: 16px;
  pointer-events: none;
  box-shadow: 0 16px 30px rgba(0,0,0,0.36);
  z-index: 2;
}

#aboutus::before {
  content: "";
  position: absolute;
  left: -10%;
  top: -16px;
  width: 120%;
  height: 16px;
  pointer-events: none;
  box-shadow: 0 16px 30px rgba(0,0,0,0.36);
  z-index: 20;
}

.footerthird
{
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footersubtitle {
  font-size: 1.2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #fff9f0;
  margin: 0;
}

.footertext
{
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fff9f0;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 0;
}

#emailholder{
  box-sizing: border-box;
  padding-left: 160px;
}

#phonenumberholder{
  box-sizing: border-box;
  padding-right: 160px;
}